/* start special heading */
h2.heading {
  width: fit-content;
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  color: var(--dark-main);
}
h2.heading::before {
  content: "";
  height: 5px;
  width: 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: var(--dark-main);
}
h2.heading:hover::before {
  width: 100%;
}
/* end special heading */
/* start btn */
.special-btn {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--dark-main);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: inset -4px -4px 11px 5px #00000017;
  margin: auto;
}
.special-btn:hover {
  box-shadow: inset 4px 4px 11px 5px #00000017;
}
/* end btn */
/* start toggle */
.toggle, .nested-toggle {
  margin-bottom: 10px;
  border: 2px solid var(--dark-main);
}
.toggle {
  border: 2px solid var(--dark-main);
}
.toggle-header, .nested-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--light-main);
  cursor: pointer;
}
.toggle-header {
  color: var(--dark-main);
  font-weight: bold;
}
.toggle-content, .nested-toggle-content {
  display: none;
  padding: 10px;
}
.toggle-content.active, .nested-toggle-content.active {
  display: block;
}
.triangle {
  display: inline-block;
  transition: transform 0.3s ease;
}
.triangle.rotate {
  transform: rotate(90deg);
}
/* end toggle */
/* start tables */
.tables {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--light-main);
}
.tables .deep-search-container {
  margin-bottom: 10px;
  text-align: center;
}
.tables .toggle-header {
  background-color: var(--light-grey);
}
.tables .toggle-content {
  background-color: var(--white-color);
  overflow: auto;
}
.tables .features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.tables .features input[type="search"],
.tables .deep-search {
  padding: 8px;
  border: 2px solid var(--dark-grey);
  border-radius: 25px;
  outline: none;
  width: 200px;
  transition: border-color 0.1s;
  font-size: 16px;
}
.tables .deep-search {
  border-color: var(--dark-main);
}
.tables .features input[type="search"]:focus,
.tables .deep-search:focus {
  border-color: var(--dark-main);
}
.tables .features .sort {
  background-color: var(--light-grey);
  padding: 5px;
  border-radius: 7px;
  width: 50px;
  border: 2px solid;
  border-color: var(--dark-grey);
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.tables .features .sort.coloring {
  border-color: var(--dark-main);
  background-color: var(--light-main);
}
.tables .features .sort img {
  width: 20px;
  height: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-main);
  transition: .4s;
  border-radius: 34px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--dark-main);
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: var(--light-grey);
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
  background-image: linear-gradient(to bottom, 
    var(--der-color) 25%, 
    var(--das-color) 25%, 
    var(--das-color) 50%, 
    var(--die-color) 50%, 
    var(--die-color) 75%, 
    black 75%);
}
.tables .table {
  display: flex;
  gap: 3px;
  width: 100%;
}
.tables .the .header,
.tables .plural .header {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.tables .table .column {
  width: 100%;
}
.tables table {
  width: 100%;
  border-spacing: 3px;
}
.tables table th,
.tables .table .header {
  background-color: var(--light-main);
  text-align: center;
  padding: 5px;
}
.tables .table .header {
  font-weight: bold;
  margin-bottom: 3px;
  min-width: 70px;
}
.tables table td,
.tables .table .cell {
  background-color: var(--light-grey);
  text-align: center;
  padding: 5px;
}
.tables .table .cell {
  height: 70px;
  white-space: nowrap;
}
.tables .the .cell {
  height: 40px;
}
.tables .table .cell.note {
  background-color: var(--dark-grey);
  cursor: pointer;
}
.tables .table .cell:not(:last-child) {
  margin-bottom: 3px;
}
.tables .plural .cell {
  text-align: left;
}
.tables .plural .cell p {
  display: flex;
}
.tables .plural .cell p .arti {
  margin-right: 10px;
  color: var(--dark-main);
  width: 10px;
}
.tables .plural .cell p .arti.r {
  color: var(--der-color);
}
.tables .plural .cell p .arti.s {
  color: var(--das-color);
}
.tables .plural .cell p:first-child .arti.e {
  color: var(--die-color);
}
.tables .plural .cell p:last-child .arti.e {
  color: black;
}
.tables .plural .cell span .sp {
  color: red;
}
.tables .only-plural {
  all: unset;
}
.tables .only-plural .body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3px;
}
.tables .table.only-plural .cell-only-plural {
  background-color: var(--light-grey);
  padding: 5px;
  text-align: center;
  height: fit-content;
  margin-bottom: 0;
}
/* end tables */