/* start special heading */
h2.heading {
  width: fit-content;
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
  color: var(--dark-main);
}
h2.heading::before {
  content: "";
  height: 5px;
  width: 0;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  border-radius: 10px;
  transition: 0.5s;
  background-color: var(--dark-main);
}
h2.heading:hover::before {
  width: 100%;
}
/* end special heading */
/* start toggle */
.toggle, .nested-toggle {
  margin-bottom: 10px;
  border: 2px solid var(--dark-main);
}
.toggle {
  border: 2px solid var(--dark-main);
}
.toggle-header, .nested-toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--light-main);
  cursor: pointer;
}
.toggle-header {
  color: var(--dark-main);
  font-weight: bold;
}
.toggle-content, .nested-toggle-content {
  display: none;
  padding: 10px;
}
.toggle-content.active, .nested-toggle-content.active {
  display: block;
}
.triangle {
  transition: transform 0.3s ease;
}
.triangle.rotate {
  transform: rotate(90deg);
}
/* end toggle */
/* start landing */
.landing {
  position: relative;
  padding-top: 90px; 
  padding-bottom: 60px;
  background-image: url(../photos/landing.jpg);
  background-size: cover;
  background-position: center;
}
.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* z-index: 0; */
  opacity: 0.8;
}
.landing .container {
  z-index: 3;
  position: relative;
  color: var(--dark-main);
}
.landing .welcome {
  margin-bottom: 20px;
}
.landing .welcome span:first-child,
.landing .text table tr td:first-child {
  font-weight: bold;
  width: 100px;
}
/* end landing */
/* start tables */
.tables {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--light-main);
}
.tables .toggle-header {
  background-color: var(--light-grey);
}
.tables .toggle-content {
  background-color: var(--white-color);
  overflow: auto;
}
.tables .features {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 8px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.tables .features input[type="search"] {
  padding: 8px;
  border: 2px solid var(--dark-grey);
  border-radius: 25px;
  outline: none;
  width: 200px;
  transition: border-color 0.1s;
  font-size: 16px;
}
.tables .features input[type="search"]:focus {
  border-color: var(--dark-main);
}
.tables .features .sort {
  background-color: var(--light-grey);
  padding: 5px;
  border-radius: 7px;
  width: 50px;
  border: 2px solid;
  border-color: var(--dark-grey);
  height: 38px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.tables .features .sort.coloring {
  border-color: var(--dark-main);
  background-color: var(--light-main);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-main);
  transition: .4s;
  border-radius: 34px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--dark-main);
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: var(--light-grey);
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
  background-image: linear-gradient(to bottom, 
    var(--der-color) 25%, 
    var(--das-color) 25%, 
    var(--das-color) 50%, 
    var(--die-color) 50%, 
    var(--die-color) 75%, 
    black 75%);
}
.tables .table {
  display: flex;
  gap: 3px;
  width: 100%;
}
.tables .table .column {
  width: 100%;
}
.tables table {
  width: 100%;
  border-spacing: 3px;
}
.tables table th,
.tables .table .header {
  background-color: var(--light-main);
  text-align: center;
  padding: 5px;
}
.tables .table .header {
  font-weight: bold;
  margin-bottom: 3px;
}
.tables table td,
.tables .table .cell {
  background-color: var(--light-grey);
  text-align: center;
  padding: 5px;
}
.tables .the .cell {
  height: 40px;
}
.tables .plural .cell {
  height: 70px;
}
.tables .table .cell.note {
  background-color: var(--dark-grey);
}
.tables .table .cell:not(:last-child) {
  margin-bottom: 3px;
}
.tables .plural .cell {
  text-align: left;
}
.tables .plural .cell p {
  display: flex;
}
.tables .plural .cell p .arti {
  margin-right: 10px;
  color: var(--dark-main);
  width: 10px;
}
.tables .plural .cell p .arti.r {
  color: var(--der-color);
}
.tables .plural .cell p .arti.s {
  color: var(--das-color);
}
.tables .plural .cell p:first-child .arti.e {
  color: var(--die-color);
}
.tables .plural .cell p:last-child .arti.e {
  color: black;
}
.tables .plural .cell span .sp {
  color: red;
}
.tables .kasus .table-container tr:nth-child(1) td:not(:first-child),
.tables .kasus .table-container tr:nth-child(2) td:not(:first-child),
.tables .kasus .table-container tr:nth-child(3) td:not(:first-child) {
  background-color: var(--dark-grey);
}
.tables .kasus .table-container {
  overflow: auto;
}
.tables .kasus tr td:nth-child(1) {
  background-color: var(--light-main);
}
.tables .kasus td span.sp {
  color: red;
}
.tables .kasus td {
  white-space: nowrap;
  min-width: 70px;
}
/* end tables */
/* start games */
.games {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white-color);
  color: var(--black-color);
}
.games .games-net {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.games .games-net .game {
  border: 3px solid var(--dark-main);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.games .games-net .game img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 3px 0px #0000006b;
}
.games .games-net .game p {
  position: absolute;
  color: var(--dark-main);
  left: 0;
  bottom: 0;
  background-color: var(--light-main);
  padding: 5px;
  border-radius: 5px;
}
/* end games */
/* starting footer */
footer {
  /* background-color: var(--light-grey); */
  background-color: var(--light-main);
  color: var(--dark-main);
  text-align: center;
  padding: 1rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
footer a {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 400px) {
  footer p {
    flex-direction: column;
  }
  footer a {
    margin: 10px 0;
  }
}
footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--dark-main);
  background-color: white;
}
/* ending footer */