/* start landing */
.landing {
  position: relative;
  padding-top: 90px; 
  padding-bottom: 60px;
  background-image: url(../photos/landing.jpg);
  background-size: cover;
  background-position: center;
}
.landing::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  /* z-index: 0; */
  opacity: 0.8;
}
.landing .container {
  z-index: 3;
  position: relative;
  color: var(--dark-main);
}
.landing .welcome {
  margin-bottom: 20px;
}
.landing .welcome span:first-child,
.landing .text table tr td:first-child {
  font-weight: bold;
  width: 100px;
}
/* end landing */
/* start tables */
.tables .kasus .table-container tr.dark td:not(:first-child),
.tables .kasus .table-container tr.dark td:not(:first-child),
.tables .kasus .table-container tr.dark td:not(:first-child) {
  background-color: var(--dark-grey);
}
.tables .table-container {
  overflow: auto;
}
.tables .kasus tr td:nth-child(1) {
  background-color: var(--light-main);
}
.tables .sp {
  color: red;
}
.tables .sp.d {
  color: rgb(183, 1, 1);
}
.tables .kasus td {
  white-space: nowrap;
  min-width: 70px;
}
.tables .kasus td.verben {
  text-wrap: auto;
}
.tables .partizip .cell {
  height: 40px;
}
@media (max-width: 700px) {
  .tables .partizip .cell {
    display: flex;
    flex-direction: column;
    height: 70px;
  }
  .tables .partizip .cell span.m {
    display: none;
  }
}
.tables .similar .boxes,
.tables .diff .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 30px 5px;
}
.tables .similar .boxes .box,
.tables .diff .boxes .box {
  /* border: 1px solid var(--dark-main); */
  border-radius: 5px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  background-color: #eee8;
  box-shadow: 1px 1px 3px 0px #0000006b;
  cursor: pointer;
  padding: 10px 0;
}
.tables .diff .boxes .box.colored {
  background-color: var(--light-main);
}
.tables .similar .boxes .box:hover,
.tables .diff .boxes .box:hover {
  box-shadow: 1px 1px 8px 0px #0000006b;
}
.tables .similar .boxes .box .line {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.tables .flages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tables .flages img {
  width: 50px;
  height: 30px;
}
.tables .diff .main-word {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.tables .diff .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tables .diff .content > div {
  width: 50%;
  text-align: center;
  font-size: 22px;
  box-shadow: inset 1px 1px 18px 0px #0000001f;
  margin: 5px;
  border-radius: 5px;
  padding-top: 10px;
}
.tables .diff .content img:first-child {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.tables .diff .content img:nth-child(3) {
  width: 30px;
  height: 20px;
}
/* end tables */
/* start games */
.games {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--white-color);
  color: var(--black-color);
}
.games .games-net {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.games .games-net .game {
  border: 3px solid var(--dark-main);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.games .games-net .game img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 3px 0px #0000006b;
}
.games .games-net .game p {
  position: absolute;
  color: var(--dark-main);
  left: 0;
  bottom: 0;
  background-color: var(--light-main);
  padding: 5px;
  border-radius: 5px;
}
/* end games */
/* starting footer */
footer {
  /* background-color: var(--light-grey); */
  background-color: var(--light-main);
  color: var(--dark-main);
  text-align: center;
  padding: 1rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
footer a {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
@media (max-width: 400px) {
  footer p {
    flex-direction: column;
  }
  footer a {
    margin: 10px 0;
  }
}
footer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--dark-main);
  background-color: white;
}
/* ending footer */
/* start popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  border: 2px solid var(--dark-main);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
}
.popup-content {
  margin-bottom: 10px;
  color: var(--dark-main);
}
.popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-main);
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.popup-close:hover {
  color: red;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
/* end popup */