<div class="deep-search-container">
  <input class="deep-search" type="search" value="" placeholder="Suchen...">
</div>
<div class="toggle first">
  <div class="toggle-header">
    <span>Bestimmter Artikel</span>
    <div class="other">
      <span class="num-container">(<span class="num">0</span>)</span>
      <span class="triangle">&#9654;</span>
    </div>
  </div>
  <div class="toggle-content">
    <div class="features">
      <input type="search" value="" placeholder="Suchen...">
      <span class="sort">
        <img src="../../photos/sort-amount-asc.png" alt="amount">
      </span>
    </div>
    <div class="table the">
      <div class="column">
        <div class="header">der <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
      <div class="column">
        <div class="header">das <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
      <div class="column">
        <div class="header">die <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
    </div>
  </div>
</div>
<div class="toggle second">
  <div class="toggle-header">
    <span>Singular und Plural</span>
    <div class="other">
      <span class="num-container">(<span class="num">0</span>)</span>
      <span class="triangle">&#9654;</span>
    </div>
  </div>
  <div class="toggle-content">
    <div class="features">
      <input type="search" value="" placeholder="Suchen...">
      <span class="sort">
        <img src="../../photos/sort-amount-asc.png" alt="amount">
      </span>
      <label class="switch coloring">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
    </div>
    <div class="table plural">
      <div class="column">
        <div class="header">-s <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
      <div class="column">
        <div class="header">( ¨ )- <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
      <div class="column">
        <div class="header">( ¨ )-er <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
      <div class="column">
        <div class="header">( ¨ )-e <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
      <div class="column">
        <div class="header">-(e)n <span class="num-container">(<span class="num">0</span>)</span></div>
        <div class="body"></div>
      </div>
    </div>
  </div>
</div>
<div class="toggle third">
  <div class="toggle-header">
    <span>Immer Plural</span>
    <div class="other">
      <span class="num-container">(<span class="num">0</span>)</span>
      <span class="triangle">&#9654;</span>
    </div>
  </div>
  <div class="toggle-content">
    <div class="features">
      <input type="search" value="" placeholder="Suchen...">
      <span class="sort">
        <img src="../../photos/sort-amount-asc.png" alt="amount">
      </span>
    </div>
    <div class="table only-plural">
      <div class="body"></div>
    </div>
  </div>
</div>